image: emundo/docker-compose-openjdk-node-gradle:openjdk-11-gradle-5.2

stages:
  - build
  - publish

cache:
  paths:
    - .gradle

before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle

build:
  stage: build
  script:
    - gradle assemble

publish:
  stage: publish
  only:
    - tags
  script:
    - gradle publishPlugins -Pgradle.publish.key=$GRADLE_PUBLISH_KEY -Pgradle.publish.secret=$GRADLE_PUBLISH_SECRET
